
card-img-top{
    width: 80%;
}

main{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:#F5EBD2;
}

 @media screen and (min-width: 768px){
	.main-inner { max-width:500px; }
    .pc { display:none; }
nav ul.icon-navi li img { width:200px; }
.summary ol { padding:0 100px; }
.prize p { padding:30px 50px; }
.terms .te-txt { padding:50px; }
.shar-inner { width:500px; margin:auto; }
}

@media screen and (min-width: 1200px){
	*{ font-size:26px; }
	.sp{ display:none; }
	.pc { display:inherit; }
	.main-inner { max-width:100px; }
	nav { padding:30px 100px; }
	.how-inner{ display:flex; }
	.howto .howtoBox { margin:10px; }
    .howto .how-pic img { width:auto; height:200px; }
}


footer{
    background-color: #b28247;
    height: 50px;
    text-align: center;
    padding-top: 15px;
 }


